<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>316060077139-gl3fnp06b0c7poqal30qgtjkap2iituk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.316060077139-gl3fnp06b0c7poqal30qgtjkap2iituk</string>
	<key>API_KEY</key>
	<string>AIzaSyCB8uSxM5lKYu602NUg7oDHpoOX8ud9NP8</string>
	<key>GCM_SENDER_ID</key>
	<string>316060077139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weather1App</string>
	<key>PROJECT_ID</key>
	<string>weatherapp-flutter-track</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherapp-flutter-track.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316060077139:ios:e3ba82882243337c84caa6</string>
</dict>
</plist>